.modal-backdrop-custom {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crop-modal {
  position: relative;
  background: #fff;
  width: 90%;
  max-width: 420px;
  height: 520px;
  border-radius: 16px;
  padding: 12px;
  z-index: 10000; 
  display: flex;
  flex-direction: column;
}

.cropper-container {
  position: relative;
  flex: 1;
}

.crop-actions {
  display: flex;
  gap: 10px;
  margin-top: 12px;
}


.crop-actions button {
  flex: 1;
}
